/*=============================================
=            variables            =
=============================================*/

/*----------  text  ----------*/

// sub-heading at the top of the app UI
$Pale-Violet: hsl(276, 100%, 81%);
//chat on the left
$Moderate-Violet: hsl(276, 55%, 52%);
// chat on the right
$Desaturated-Dark-Violet: hsl(271, 15%, 43%);
//placeholder text
$Grayish-Blue: hsl(206, 6%, 79%);
//main heading
$Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
//paragraph
$Dark-Grayish-Violet: hsl(270, 7%, 64%);

/*----------  gradients  ----------*/

$grad: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));

/*----------  secondary  ----------*/

$White: hsl(0, 0%, 100%);
//app background
$Light-Grayish-Violet: hsl(270, 20%, 96%);
// submit button background
$Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
// radio button outline
$Very-Light-Magenta: hsl(289, 100%, 72%);

/*=====  End of variables  ======*/

/*=============================================
=            reset            =
=============================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*=====  End of reset  ======*/

/*=============================================
=            foundation            =
=============================================*/

.container {
	width: 1440px;
	margin: auto;
	height: 800px;
	position: relative;
	overflow: hidden;
	background-color: $Light-Grayish-Violet;
	z-index: -10;
	font-family: 'Rubik', sans-serif;
	// **************************************
	// background: url('/design/desktop-design.jpg');
	// z-index: -20;
}

.bgLeftBlock {
	width: 500px;
	height: 700px;
	background: $grad;
	border-radius: 0 0 250px 250px;
	position: absolute;
	left: -80px;
	z-index: -10;
}
.bgRightBlock {
	width: 500px;
	height: 681px;
	background: $Grayish-Blue;
	border-radius: 250px 250px 0 0;
	position: absolute;
	right: -178px;
	bottom: 0;
	z-index: -10;
	opacity: .15;
}
.content {
	display: flex;
	width: 1440px;
	height: 800px;
}
.column {
	display: flex;
	width: 50%;
	align-items: center;
}

/*=====  End of foundation  ======*/

/*=============================================
=            phone            =
=============================================*/

/*----------  phone frame  ----------*/

.phoneFrame {
	background-color: white;
	border-radius: 30px;
	width: 250px;
	height: 510px;
	margin: 0 108px 0 auto;
	box-shadow: 15px 11px 43px 5px rgba(0, 0, 0, 0.29);
	.phoneInner {
		background-color: $Light-Grayish-Violet;
		width: 230px;
		height: 490px;
		border-radius: 30px;
		margin: 10px;
		position: relative;
		overflow: hidden;
		.notch {
			width: 150px;
			height: 50px;
			border-radius: 20px;
			background-color: white;
			position: absolute;
			top: -25px;
			left: 40px;
		}
		.banner {
			width: 230px;
			height: 100px;
			background: $grad;
			position: absolute;
			display: flex;
			align-items: flex-end;
			top: -25px;
			border-radius: 5px;
			.bannerContent {
				display: flex;
				align-items: center;
				width: 210px;
				margin: 10px auto;
				svg {
					color: $White;
					margin-right: 5px;
				}
				img {
					width: 20px;
					height: 20px;
					border-radius: 20px;
					border: solid 1px $White;
					margin-right: 5px;
				}
				h2 {
					font-size: 13px;
					color: $White;
					margin-bottom: 2px;
				}
				p {
					font-size: 9px;
					color: $Pale-Violet;
				}
				svg.bi-three-dots-vertical {
					margin-left: auto;
				}
			}
		}
	}
}

/*----------  phone content  ----------*/

.phoneContent {
	margin-top: 75px;
	display: flex;
	flex-direction: column;
	.incomingMessage,
	.outgoingImages,
	.outgoingMessage,
	.bookingButton {
		padding: 5px 10px;
		border-radius: 10px;
		margin: 10px 10px 0 10px;
		box-shadow: 1px 13px 38px -14px rgba(0, 0, 0, 0.43);
	}
	.outgoingImages {
		box-shadow: none;
	}

	.incomingMessage {
		align-self: start;
		max-width: 150px;
		color: $Moderate-Violet;
		background-color: hsl(271, 44%, 86%);

		p {
			font-size: 8px;
			font-weight: 400;
		}
	}
	.outgoingImages {
		width: 150px;
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
		margin: 10px 0 0 10px;
		img {
			flex-basis: 30%;
			border-radius: 5px;
		}
	}
	.outgoingMessage {
		max-width: 150px;
		align-self: flex-end;
		color: $Desaturated-Dark-Violet;
		background-color: $White;

		p {
			font-size: 8px;
			font-weight: 400;
		}
	}
	.bookingButton {
		width: 150px;
		display: flex;
		align-items: center;
		background: $grad;
		color: $White;
		position: relative;
		padding: 10px;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}
		.checkmark {
			// position: absolute;
			top: 0;
			left: 0;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			border: 1px solid $Very-Light-Magenta;
		}
		label {
			font-size: 8px;
			font-weight: 400;
			margin-left: 4px;
		}
		p {
			margin-left: auto;
			font-size: 12px;
		}
	}
	.typeField {
		width: 200px;
		height: 40px;
		background-color: $White;
		display: flex;
		margin: 20px auto;
		border-radius: 25px;
		padding: 10px;
		align-items: center;
		position: relative;

		p {
			font-size: 8px;
			font-weight: 400;
			color: $Dark-Grayish-Violet;
		}
		button {
			margin-left: auto;
			background-color: $Very-Dark-Desaturated-Violet;
			border: none;
			color: $White;
			padding: 3px;
			border-radius: 500px;
			width: 30px;
			height: 30px;
			position: relative;
			&:after {
				content: '>';
				position: absolute;
				top: 5px;
				left: 9px;
				font-weight: bold;
				font-size: 15px;
			}
		}
	}
}

/*=====  End of phone  ======*/

/*=============================================
=            title            =
=============================================*/
.title {
	width: 600px;
	h1 {
		font-size: 2.8em;
		font-weight: 400;
		color: $Very-Dark-Desaturated-Violet;
		margin-bottom: 30px;
	}
	p {
		width: 480px;
		line-height: 30px;
		color: $Dark-Grayish-Violet;
	}
}
/*=====  End of title  ======*/

/*=============================================
=            mobile            =
=============================================*/

@media screen and (max-width: 375px) {
	.container {
		width: 100%;
		height: auto;
		.bgLeftBlock {
			left: -330px;
		}
		.bgRightBlock {
			display: none;
		}
		.content {
			display: block;
			width: 100%;
			height: auto;
			overflow: scroll;
			.column {
				width: 100%;
				margin-top: 50px;
				.phoneFrame {
					margin: 0 auto;
				}
				.title {
					width: 100%;
					padding: 20px;
					margin: 0 auto;
					text-align: center;
					p {
						width: 100%;
					}
				}
			}
		}
	}
}

/*=====  End of mobile  ======*/
